*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	margin: 0 auto;
}
.container{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
.header{
	width: 1024px;
	height: 100vh;
	background: #192314;
	overflow: hidden;
	position: relative;
}
.header-pic{
	width: 652px;
	height: 488px;
	background: url(green-beosound-shape-desktop.jpg);
	background-size: 100% auto;
	float: right;
}
.header-text{
	width: 358px;
	height: 199px;
	position: absolute;
	top: 95px;
	left: 98px;
	color: #fff;
	font-family: SimHei,"黑体", Hiragino Sans GB, "冬青黑体", sans-serif;
}
.descrip{
	font-family: "Gotham SSm A","Gotham SSm B";
	line-height: 24px;
	margin-bottom: 10px;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 12px;
}
.title{
	line-height: 39px;
	margin-top: 15px;
	margin-bottom:24px;
	letter-spacing: 3.75px;
	font-weight: normal;
	font-size: 30px;
}
.small-desc{
	line-height: 21px;
	margin-bottom: 19.5px;
	font-size: 13px;
}
.button{
	font-family: "Gotham SSm A","Gotham SSm B";
	display: block;
	width: 280px;
	color: #fff;
	font-size: 12px;
	line-height: 21px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 10px 40px;
	text-decoration: none;
	letter-spacing: 1.3332px;
	background-color: rgba(255,255,255,0.1);
}
.banner{
	width: 1024px;
	height: 400px;
	background: url(img-bg-1350.jpg);
	background-size: 100% auto;
	background-position: 0 -158px;
}
.product{
	width: 705px;
	height: 353px;
	margin: 0 auto;
	margin-top: -40px;
	position: relative;
	z-index: 100;
}
.product-item{
	width: 235px;
	height: 353px;
	float: left;
	position: relative;
}
.product-item h4{
	color: #fff;
	font-weight: normal;
	position:absolute;
	top: 15px;
	left: 20px;
}
.product-item img{
	width: 100%;
}
.top-menu{
	line-height: 57px;
	width: 100%;
	display: flex;
	justify-content:space-between;
	position: absolute;
	z-index: 200;
	padding: 0 22px;
}
.left,.right{
	width: 150px;
	height: 57px;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	text-align: center;
}
.center{
	width: 190px;
	height: 57px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}
.left{
	background: url(product.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.right{
	background: url(manu.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.title-box{
	width: 100%;
	height: 157px;
	margin-top: 100px;
	margin-bottom: 60px;
}
.title-box h6{
	line-height: 21px;
	text-align: center;
	margin-bottom: 18px;
	margin-top: 12px;
	font-weight: 300;
}
.title-box h2{
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	margin-bottom: 24px;
	margin-top: 15px;
	font-weight: 500;
	letter-spacing: 4px;
}
.product-list{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
}
.product-one{
	width: 512px;
	height: 512px;
	position: relative;
}
.product-one:nth-child(1){
	background: url(beosound-shape-mobile.jpg);
	background-size: 100% auto;
}
.product-one:nth-child(2){
	background: url(beovision-eclipse-mobile.jpg);
	background-size: 100% auto;
}
.product-one:nth-child(3){
	background: url(beolab-50-mobile.jpg);
	background-size: 100% auto;
}
.product-one:nth-child(4){
	background: url(beoplay-p6-categories-mobile-2.jpg);
	background-size: 100% auto;
}
.product-one:nth-child(5){
	background: url(beosound-core-mobile.jpg);
	background-size: 100% auto;
}
.product-one:nth-child(6){
	background: url(beoplay-h9i-mobile.jpg);
	background-size: 100% auto;
}
.product-one h4{
	color: #fff;
	position: absolute;
	top: 35px;
	left: 23px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 2px;
}
.story{
	width: 720px;
	height: 364px;
	margin: 0 auto;
}
.story-pic1{
	width: 178px;
	height: 170px;
	background: url(design-as-a-group-effort-01.jpg);
	background-size: 100% auto;
	float: left;
}
.story-pic2{
	width: 178px;
	height: 170px;
	background: url(the-krane.jpg);
	background-size: 100% auto;
	float: left;
}
.story-pic3{
	width: 356px;
	height: 170px;
	background: url(harmonies-story.jpg);
	background-size: 100% auto;
	float: left;
}
.story h5{
	margin-bottom: 18px;
	font-size: 12px;
	font-weight: 500;
	height: 24px;
	margin-top: 205px;
}
.text1{
	opacity:0.6;
	font-size: 13px;
	font-weight: 300;
	width: 167px;
	line-height: 21px;
}
.text2{
	opacity:0.6;
	font-size: 13px;
	font-weight: 300;
	width: 167px;
	line-height: 21px;
}
.text3{
	opacity:0.6;
	font-size: 13px;
	font-weight: 300;
	width: 335px;
	line-height: 21px;
}